<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>

<body>
    <h1>{{ product.name }}</h1>
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <!-- Другие детали товара, которые вы хотите отобразить -->

    <a href="{% url 'edit_product' product.id %}">Edit</a>
    <!-- Ссылка для редактирования товара. Здесь используется имя маршрута 'edit_product', а также передается ID товара -->
</body>

</html>